/* 
    This CSS file was created by OwL for use by pointer.js, 
     witch can be found on https://seattleowl.com. 
*/
#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2.5px solid transparent;
    position: fixed;
    border-radius: 4px;
    z-index: 9999;
    pointer-events: none;
    transition: border-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 2px solid #ffffff8e;
    position: fixed;
    border-radius: 100px;
    z-index: 9999;
    pointer-events: none;
    transition: all 0.1s;
}

.cursor-img{
    background-color: #fff;
    content: 'View Project';
    font-family: 'Noto Serif JP';
    color: #000;
    font-size: 14px;
    text-align: center;
    width: 85px !important;
    height: 85px !important;
   scroll-behavior: smooth;
}